# Secrets override - uses environment variables from encrypted .env.prod
# Usage: docker compose --env-file <(sops -d .env.prod) -f docker-compose.yml -f docker-compose.secrets.yml -f docker-compose.prod.yml up -d
services:
  postgres:
    environment:
      POSTGRES_PASSWORD: ${FROSTBYTE_POSTGRES_PASSWORD}

  postgrest:
    environment:
      PGRST_DB_URI: postgres://frostbyte_user:${FROSTBYTE_POSTGRES_PASSWORD}@postgres:5432/frostbyte_db

  gobackup:
    environment:
      POSTGRES_PASSWORD: ${FROSTBYTE_POSTGRES_PASSWORD}
      B2_BUCKET: ${FROSTBYTE_B2_BUCKET}
      B2_REGION: ${FROSTBYTE_B2_REGION}
      B2_ENDPOINT: ${FROSTBYTE_B2_ENDPOINT}
      B2_KEY_ID: ${FROSTBYTE_B2_KEY_ID}
      B2_APP_KEY: ${FROSTBYTE_B2_APP_KEY}
      HEALTHCHECKS_URL: ${FROSTBYTE_HEALTHCHECKS_URL}
